<div class="zm-testimonial">
  <div class="zm-testimonial--text">{{text}}</div>
  <div class="zm-testimonial--author">
    <span class="zm-testimonial--author--name">{{author.name}}</span>
    <span class="zm-testimonial--author--role">{{author.role}}</span>
    <span class="zm-testimonial--author--company">{{author.company}}</span>
  </div>
</div>